.container-fluid{
    background-color: mediumpurple;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 30px;
}

.img-container{
    position: relative;
    bottom: -100px;
}

.img-container img{
    width: 100%;
}

.img-container h2{
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightblue;
    padding: 1px 1px;
    width: 100%;
    text-align: center;
    bottom: 0px;
}

.form-group{
    position: relative
}

.footer{
    background-color: salmon;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 100%;
    text-align: center;
    position: absolute;
}